.sider {
  color: #eeeeee;
  padding: 20px;
  width: 240px;

  .tag {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
  }
}
